*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 5px;
}
nav ul{
  display: flex;
  color: white;
  list-style: none;
  gap: 20px;
  font-size: 12px;
}
footer{
  background-color: rgb(254, 170, 0);
  width: 100vw;
  display: flex;
  justify-content: center;
}
.slide{
  height: 40vh;
  width: 100px;
  border-radius: 2px;
  background-color: orange;
  margin: 120px 0px;
  animation-name: slide-animation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slide-animation {
  0%{
    transform: translateX(100vw);
  }
  100%{
    transform: translateX(0vw);
  }
  
}